<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="horizontal-box align-items-spacebetween edit" data-reactid="181">
                                <h1 class="display-4-text" data-reactid="182">Edit my profile</h1>
                                <button class="_1hx9z6hg" data-track="true" data-track-app="account_profile"
                                    data-track-page="account_profile" data-track-action="[object Object]"
                                    data-track-component="view_profile" data-reactid="183">
                                    <span class="_1lutnh9y" data-reactid="184">
                                        <!-- react-text: 185 -->View Profile
                                        <!-- /react-text --></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="introduction">
                                <div class="section-header-description">
                                    <h2 class="display-2-text">Introduction</h2>
                                    <p class="section-header-subtitle">Let the Coursera community of other learners and
                                        instructors recognize you.</p>

                                    <div class="form-group col-6 wrap align-items-vertical-center">
                                        <label class="label">Full Name</label>

                                        <input type="text" class="form-control col-6">
                                    </div>
                                    <div class="form-group col-6 wrap align-items-vertical-center">
                                        <label class="label">Profile Photo</label>
                                        <div class="image-selector-image preview vertical-box align-items-absolute-center"
                                            data-reactid="202"><svg class="_975jit"
                                                style="fill:#FFF;height:64px;width:64px;" viewBox="0 0 48 48"
                                                xmlns="http://www.w3.org/2000/svg" data-reactid="203">
                                                <title data-reactid="204">user</title>
                                                <path
                                                    d="M33.5,10.4C33.7,5.1,29.2,1,24,1s-9.8,4.2-9.5,9.4c0.1,1.1,1.1,6.3,1.1,6.3c0.8,4.5,3.8,8.3,8.4,8.3s7.6-3.8,8.4-8.4C32.4,16.6,33.4,11.4,33.5,10.4z"
                                                    data-reactid="205"></path>
                                                <path
                                                    d="M47,47H1l1.1-8.2c0.5-2.7,2.9-4.3,5.6-4.9L24,31l16.3,2.9c2.7,0.6,5.1,2.2,5.5,4.9L47,47z"
                                                    data-reactid="206"></path>
                                            </svg></div>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                        Maximum size of 1MB. JPG, GIF, or PNG.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="work-exp">
                                <div class="section-header-description">
                                    <h2 class="display-2-text">Work Experience and Education</h2>
                                    <p class="section-header-subtitle">Tell us about your experience and education to
                                        get a personalized learning experience with course recommendations.</p>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="exampleFormControlSelect1 label">Employment
                                            Status</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="">Industry</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="">Employer</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="">Occupation</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="exampleFormControlSelect1">Experience Level</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label label" for="gridCheck">
                                                Is it your current employer?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="exampleFormControlSelect1">Highest Degree</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="">University</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="exampleFormControlSelect1">Field or Major</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="label" class="form-check-label" for="gridCheck">
                                                Are you currently a student?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="exampleFormControlSelect1">Experience Privacy</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="career">
                                <div class="section-header-description">
                                    <h2 class="display-2-text">Introduction</h2>
                                    <p class="section-header-subtitle">Let the Coursera community of other learners and
                                        instructors recognize you.</p>

                                    <div class="form-group col-6">
                                        <div class="row">
                                            <label class="col-form-label col-sm-4 pt-0 label">Open to new job
                                                opportunities?</label>
                                            <div class="col-sm-10">
                                                <div class="form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gridRadios"
                                                        id="gridRadios1" value="option1" checked>
                                                    <label class="label" class="form-check-label" for="gridRadios1">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gridRadios"
                                                        id="gridRadios2" value="option2">
                                                    <label class="label" class="form-check-label" for="gridRadios2">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="label" for="">Location</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="label" class="label" for="">Skills Wanted</label>
                                        <input type="text" class="form-control ">
                                    </div>
                                    <div class="form-group col-6 col-6">
                                        <label class="label" for="">Preferred Occupation</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="label" for="">Industry</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="label" for="exampleFormControlSelect1">Preferred Level</label>
                                        <select class="form-control col-4" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <button class="btn btn-primary" id="add" onclick="add()"><span>+Add preferred
                                                occupation</span></button>
                                        <button class="remove btn btn-primary" id="remove" href=""
                                            onclick="remove()"><span>Remove preferred occupation</span></button>
                                        <div class="content" id="content">
                                            <div class="form-group col-6">
                                                <label class="label" for="">Preferred Occupation
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group col-6">
                                                <label class="label" for="">Industry</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group col-6">
                                                <label class="label" for="exampleFormControlSelect1">Experience
                                                    Privacy</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <button class="remove2 btn btn-primary" id="remove2" href=""
                                                onclick="remove()"><span>Remove preferred occupation</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="detail">
                                <div class="section-header-description">
                                    <h2 class="display-2-text">Details About You</h2>
                                    <p class="section-header-subtitle">Introduce yourself to the Coursera community.
                                        Connect with learners like you to grow your network.</p>

                                    <div class="form-group col-6">
                                        <label class="label" for="exampleFormControlTextarea1">About Me</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="label" for="">Location</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="label" for="">Top Skills</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="label" for="exampleFormControlSelect1">Website URL
                                        </label>
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>LinkedIn</option>
                                            <option>Facebook</option>
                                            <option>Twitter</option>
                                            <option>Google+</option>
                                            <option>Github</option>
                                            <option>Other</option>
                                        </select>
                                        <input type="text" class="form-control">
                                        <button class="addweb btn btn-primary" id="addweb" onclick="addweb()"><span>+
                                                Add website</span></button>
                                        <div class="website" id="website">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>LinkedIn</option>
                                                <option>Facebook</option>
                                                <option>Twitter</option>
                                                <option>Google+</option>
                                                <option>Github</option>
                                                <option>Other</option>
                                            </select>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <script>
                                        function add() {
                                            document.getElementById("remove").style.display = "block";
                                            document.getElementById("content").style.display = "block";
                                            document.getElementById("add").style.display = "none";
                                        }
                                        function remove() {
                                            document.getElementById("remove").style.display = "none";
                                            document.getElementById("content").style.display = "none";
                                            document.getElementById("add").style.display = "block";
                                        }
                                        function addweb() {
                                            document.getElementById("website").style.display = "block";
                                        }
                                    </script>
                                    <fieldset class="form-group col-8">
                                        <div class="row">
                                            <label class="col-form-label col-sm-2 pt-0 label">Gender</label>
                                            <div class="col-sm-10">
                                                <div class="form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gridRadios"
                                                        id="gridRadios1" value="option1" checked>
                                                    <label class="form-check-label" for="gridRadios1">
                                                        Female
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gridRadios"
                                                        id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                        Male
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gridRadios"
                                                        id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                        Other
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gridRadios"
                                                        id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                        I'd rather not say
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    Optional
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <form class="form-group col-6">
                                        <label class="label" for="exampleFormControlSelect1">Birthday</label>
                                        <div class="form-row">
                                            <select class="form-control col-2" id="exampleFormControlSelect1">
                                                <option>Month</option>
                                                <option>Jan</option>
                                                <option>Feb</option>
                                                <option>Mar</option>
                                                <option>Apr</option>
                                                <option>May</option>
                                                <option>Jun</option>
                                                <option>Jul</option>
                                                <option>Aug</option>
                                                <option>Sep</option>
                                                <option>Oct</option>
                                                <option>Nov</option>
                                                <option>Dec</option>
                                            </select>
                                            <select class="form-control col-2" id="exampleFormControlSelect1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <select class="form-control col-2" id="exampleFormControlSelect1">
                                                <option>1999</option>
                                                <option>2000</option>
                                                <option>2001</option>
                                                <option>2002</option>
                                                <option>2003</option>
                                            </select>
                                            <span>Optional</span>
                                        </div>
                                    </form>
                                    <div class="form-group col-6">
                                        <label class="label">Details Privacy</label>
                                        <select class="form-control col-6" id="exampleFormControlSelect1">
                                            <option>Only me</option>
                                            <option>The coursera community</option>
                                            <option>Everyone on the web</option>
                                            <option>2002</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group col-6">
                                <p>
                                    Note: Discussion forum posts and peer review submissions will always show your name
                                    and profile image to other learners in your courses. Course ratings and reviews you
                                    submit may show your profile image to anyone viewing Coursera’s catalog. Read our <a
                                        href="#"><span> Privacy Policy</span></a> to learn more.
                                </p>
                                <button class="primary cozy" type="submit" data-update="#coursera-profile-editor-status"
                                    data-default-message="Save Changes" data-inflight-message="Saving..."
                                    data-success-message="Save Changes" data-reactid="655">Save Changes</button>
                                <p class="caption-text color-secondary-text">Your changes were successfully saved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>